*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#dataset
!/dataset
/dataset/*
!/dataset/D5C3T3N26ascii.data
!dataset/D5C3T3N26ascii.dataspmf
!dataset/D5C3T3N26ascii.dataS
!dataset/D5C3T3N26.data
!dataset/data_mypre.txt
target
